#accordeon {
   display: flex;
    margin: 0;
    padding: 0;
}

#accordeon li {
    width: 107px;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: white;
    list-style: none;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

#accordeon li.actif {
    width: 317px;
}


#accordeon li figure {
    margin: 0;
    display: table;
    width: 317px;
}

#accordeon li figure figcaption {
    width: 200px;
    padding: 10px
    
}
