#accordeon {
   display: flex;
    margin: 0;
    padding: 0;
}

#accordeon li {
    display: flex;
    width: 107px;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: rgb(0, 0, 0);
    list-style: none;
    margin: 3px;
    padding: 5px;
    border-radius: 20px;
}

#accordeon li.actif {
    width: 317px;
}


#accordeon li figure {
    margin: 0;
    display: flex;
    width: 317px;
}

#accordeon li figure figcaption {
    width: 200px;
    padding: 10px;
    display: table-cell;
    
}
   
#accordeon li figure figcaption > * {
    margin: 0;
    padding: 0;
    vertical-align: top;
}